body
{
    background-color: #242542;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 14px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.header
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-bottom: 1px solid #3f4567;
    text-align: center;
}

.content {
    width: 100%;
    margin-top: 25px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-half
{
    align-self: flex-start;
    flex: 50%;
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.col-half p
{
    margin: 10px 15px;
}

.align-right
{
    align-content: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

img
{
    max-height: 500px;
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contact {
    width: 100%;
    padding-top: 25px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #3f4567;
}
a
{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: #fff;
    text-decoration: underline;
}

ul.social
{
    list-style: none;
    display: flex;
}

ul li
{
    list-style: none;
    display: flex;
    margin-right: 10px;
    font-size: 18px;
}

.social_info p
{
    display: block;
    text-align: right;
}

.no-margin
{
    padding: 0;
    margin: 0 !important;
}

@media screen and (max-width: 450px)
{
    .col-half
    {
        max-width: 100%;
        flex: 100%
    }

    .content
    {
        flex-direction: row;
    }

    img
    {
        max-height: max-content;
    }
}